@tailwind base;
@tailwind components;
@tailwind utilities;

@layer defaults {
  /* todo: switch to tailwind ring-* implementatino (conflicts with bootstrap rightno) */
  .focus-theme {
    @apply outline outline-offset-1 outline-0 focus:outline-2 outline-blue-500/75 transition-[outline] duration-75;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background: #fafafa;
}

html {
  height: 100%;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
}
