@tailwind base;
@layer base {
  @font-face {
    font-family: "Noto Color Emoji";
    font-display: swap;
    src: local("Noto Color Emoji"),
      url(./fonts/NotoColorEmoji-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "Inter var";
    font-style: normal;
    font-display: swap;
    src: url(./fonts/InterVariable.woff2) format("woff2");
  }
}

@tailwind components;
@tailwind utilities;

@layer defaults {
  /* todo: switch to tailwind ring-* implementatino (conflicts with bootstrap rightno) */
  .focus-theme-base {
    @apply outline outline-0  outline-blue-400 transition-[outline] duration-75;
  }
  .focus-theme {
    @apply focus-theme-base outline-offset-1 focus:outline-2;
  }
  .focus-within-theme {
    @apply focus-theme-base outline-offset-2 focus-within:outline-2;
  }
  .focus-within-theme .focus-theme {
    @apply outline-offset-0 outline-blue-600;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background: #fafafa;
  @apply font-emojisans;
}

html {
  height: 100%;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
}
